.subContentInput {
    margin: 25px;
    width: 400px;
    border: 1px solid #ccc;
    flex-direction: column;
    display: flex;
}
.inputSwitch, .select {
    width: 31%;
    margin-right: 10px;
}
.inputSwitchY {
    width: 32.5%;
    margin-right: 10px; 
}
.questionInput {
    width: 70%;
    margin: 10px 0 10px 19px;
}
.typesInput {
    width: 72%;
    margin: 10px 0 10px 48px
}
.Buttons {
    height: 35px;
}
.delete {
    width: 105px;
    margin-left: 15px;
}
.conditionLabel {
    display: inline-block;
    margin-top: 15px;
}