.normInput {
    width: 400px;
    border: 1px solid #ccc;
    flex-direction: column;
    display: flex;
    margin-top: 50px;
    
}
.contentInput {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.Buttons {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}
.singleButton {
    margin-right: 10px;
}
input, select {
    display: inline-block;
    width: 50%;
}
label {
    margin: 0 20px;
    justify-content: space-between;
}
.inputSubinput {
    width: 20%;
    border: 1px solid #ccc;
    margin: 50px;
}
.question, type {
    margin: 10px 0 10px 19px;
}
.inputQuest {
    margin-left: 15px;
    width: 69%;
}
.inputType {
    margin-left: 43px;
    width: 75%;
}
