/* .normInput {
    width: 20%;
    height: 30%;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    
}
.contentInput {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.Buttons {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}
.singleButton {
    margin-right: 10px;
}
input, select {
    display: inline-block;
    width: 50%;
}
label {
    margin: 0 15px;
    justify-content: space-between;
} */
.normInput {
    border: 1px solid #ccc;
    margin-bottom: 25px;
}